<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' /
  <head>
  <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
<div class="header1">
  <div class="mid">
  <h1>
    Orange PI PC Plus
  </h1>
  <p>Страница управления GPIO одноплатного PC</p>
  </div>
</div>
<div class="header2"></div>
<div class="MENU">
  <div class="mid">
    <div class="mid2">
      <a href="#"> GPIO </a>
      <a href="#"> Видео </a>
     </div>
    </div>
</div>
<div class="data">
  <div class="mid">
    <script src='/socket.io/socket.io.js'></script>
<script>
  var socket = io();
  socket.on('StateGpio1', function (data) {
    document.getElementById('StGpio1').innerHTML = data.message;
  });
  socket.on('StateGpio2', function (data) {
    document.getElementById('StGpio2').innerHTML = data.message;
  });
  socket.on('StateGpio3', function (data) {
    document.getElementById('StGpio3').innerHTML = data.message;
  });
  socket.on('StateGpio4', function (data) {
    document.getElementById('StGpio4').innerHTML = data.message;
  });
    socket.on('StateGpio5', function (data) {
    document.getElementById('StGpio5').innerHTML = data.message;
  });
</script>
 <p id='StGpio1'>Состояние GPIO-1 неизвестно</p>
 <p id='StGpio2'>Состояние GPIO-2 неизвестно</p>
 <p id='StGpio3'>Состояние GPIO-3 неизвестно</p>
 <p id='StGpio4'>Состояние GPIO-4 неизвестно</p>
 <p id='StGpio5'>Состояние GPIO-5 неизвестно</p>
  </div>
</div>
<!-- /*data.message*/-->
  </body>
</html>
